
a:active     {  font-family: Tahoma; font-size: 11px; color: #000000}
a:link       {  font-family: Tahoma; font-size: 11px; color: #000000}
a:visited    {  font-family: Tahoma; font-size: 11px; color: #000000}
a:hover		 {  font-family: Tahoma; font-size: 11px; color: #800000}
body         {  font-family: Tahoma; font-size: 11px; color: #000000}
li           {  font-family: Tahoma; font-size: 11px; color: #000000}
ol           {  font-family: Tahoma; font-size: 11px; color: #000000}
table        {  font-family: Tahoma; font-size: 11px; color: #000000}
td           {  font-family: Tahoma; font-size: 11px; color: #000000; line-height:150%}