html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #282828;
	color: #383838;
	text-align: center;
}

body {
	margin: 20px auto 0 auto;
	text-align: left;
	width: 703px;
	background-color: #282828;
	color: #383838;
}

html > body {
	background: #282828 url(images/bg.gif) repeat-y center;
}

div#container {
	background: #282828 url(images/bg.gif) repeat-y center;
	width: 703px;
}

ul#topnav {
	margin: 0;
	padding: 0;
	height: 33px;
	background: #282828 url(images/top_nav_right_bg.gif) no-repeat bottom right;
}

ul#topnav li {
	list-style-type: none;
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

ul#topnav li.bigtab {
	background: #282828 url(images/top_nav_large_tab.gif) no-repeat;
	height: 24px;
	width: 131px;
	padding: 9px 0 0 0;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #f15f10;
}

ul#topnav li a.smalltab:link, ul#topnav li a.smalltab:visited {
	background: #282828 url(images/top_nav_small_tab.gif) no-repeat;
	height: 23px;
	width: 131px;
	padding: 10px 0 0 0;
	text-align: center;
	font-size: 14px;
	color: #515151;
	text-decoration: none;
	display: block;
}

ul#topnav li a.smalltab:hover, ul#topnav li a.smalltab:active {
	background: #282828 url(images/top_nav_small_tab_hover.gif) no-repeat;
	color: inherit;
	height: 23px;
	width: 131px;
	padding: 10px 0 0 0;
	text-align: center;
	font-size: 14px;
	display: block;
}

ul#statsbar {
	background: #282828 url(images/stats_bar.gif) no-repeat;
	height: 39px;
	width: 703px;
	margin: -3px 0 0 0;
	padding: 0;
	color: #fff;
}

body > ul#statsbar {
	margin: 0;
}

ul#statsbar li {
	list-style-type: none;
	float: left;
	display: block;
	margin: 0;
	padding: 11px 0 0 0;
}

ul#statsbar li#comments {
	padding-left: 35px;
}

#statsbar li#hits {
	padding-left: 45px;
}

#statsbar li#online {
	padding-left: 45px;
}

div#left  {
	width: 218px;
	float: left;
	background-color: #fff;
	color: inherit;
}

div#left h2 {
	font-size: 12px;
	font-weight: normal;
	background-color: inherit;
	color: #fff;
	margin: 0;
	padding: 12px 0 0 15px;
	background-image: url(images/left_content_header.gif);
	height: 25px;
	width: 203px;
}

ul#leftnav { 
	margin: 0;
	padding: 0;
}
	
ul#leftnav li {
	list-style-type: none;
	display: block;
	margin: 0;
	background-image: url(images/left_nav_link_bg.gif);
}

ul#leftnav li a:link, ul#leftnav li a:visited {
	background-color: inherit;
	color: #000;
	text-decoration: none;
	display: block; 
	height: 22px;
	padding: 6px 0 0 20px;
}

ul#leftnav li a:hover, ul#leftnav li a:active {
	background-image: url(images/left_nav_link_bg_hover.gif);
	display: block;
	height: 22px;
}

#news {
	margin: 0;
	padding: 10px;
}

div#right {
	width: 485px;
	float: right;
	background-color: #fff;
	color: inherit;
}

div#right h2 {
	font-size: 12px;
	font-weight: normal;
	color: #f9ffff;
	margin: -3px 0 0 0;
	background: #fff url(images/main_content_header.gif) no-repeat;
	height: 25px;
	width: 470px;
	padding: 12px 0 0 15px;
}

div#container > div#right h2 {
	margin: 0;
}

div#maincontent {
	width: 485px;
}
div#maincontent p {
	margin: 0;
	padding: 10px 10px 10px 5px;
}

a:link,a:visited {
	color: #fa6627;
	text-decoration: none;
}

a:hover, a:active {
	color: #383838;
}

h3 {
	margin: 5px 0px 0px 0px;
	padding: 5px 0px 5px 5px;
	width: 475px;
	background: #f0f0f0;
}

p#footer {
	clear: both;
	width: 701;
	height: 26px;
	padding: 10px 0px 0px 0px;
	background: #383838;
	border: 1px solid #fff;
	border-top: 0;
	color: #fff;
	text-align: center;
	margin: 0;
}