html, body, h1, h2, h3 { margin: 0; padding: 0; }

article, aside, dialog, figure, footer, header, hgroup, nav, section { display: block; }

footer, header, nav, #main { margin: 0 auto; width: 900px; }

footer, header { background: #cccccc; border: 1px solid #858585; margin: 0 auto; width: 898px; }

nav { overflow: hidden; }

nav ul { list-style-type: none; margin: 0; padding: 0;}

nav li { float: left; text-align: center; }

nav li a { background: #dddddd; border: 1px solid #858585; border-width: 0 1px 1px; color: #555555; display: block; padding: 1em 0; text-decoration: none; width: 178px; }

nav li a:hover { background: #efefef; border-color: #dddddd }
input { display: block; }
